
.navbar{
    width: 100%;
    height: 50px;
    background-color: #38d39f;
   
    
}
.navbar p{
    position: absolute;
    font-size: 20px;
    float: left;
    margin-top: 1%;
    margin-left: 45%;
    padding: 3px;
    color: white;

}
.navbar ul{
    float: right;
    width: auto;
    margin-left: 75%;

}
.navbar ul li{
    display: inline-block;
    padding:5px 25px;
    
    
}
.navbar ul li a{
    color: #ffffff;
    text-decoration: none;
}
.navbar ul li a:hover {
    color: rgb(98, 219, 82);
  }
 


.center{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); 
     width: 350px;
     background-color: rgba(160, 235, 20, 0.288);
     border-radius: 10px;
     
     
}



 .center h1{
     text-align: center;
     padding-bottom: 10px;
     border-bottom: 2px solid rgb(19, 7, 1);
     font-style: oblique;
 }
 .center form{
     padding-left: 90px;
     box-sizing: border-box;
    

 }
form .text{
    position: relative;
    margin: 20px 0;
}
.button{
    margin: 20px 0;
    margin-left: 45px;
    border: 1px solid;
    background: blueviolet;
    color: #e9f4fb;
    border-radius: 10px;
   
}



.myrow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap; 
    margin-top: 30px;
    
  }
  
  .mycard {
    width: 20%;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
  
  }
.imgcard{
    width: 138%;
    display: block;
    padding-right: 95px;
  }
  
    
   
  
  
  .cardbody {
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
  }
  
  .cardbody .btn {
    display: block;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right, #383830, #2bff6b);
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
  }
  
  .mycard:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }
.row{
  padding-top: 10px;
}
.Desertification{
  width: 500px;
  margin-top: 30px;
  margin-left: 30px;
 
}
.lead{
  padding-top: 20px;
}
  


 